---
layout: archive
title: "Teaching and related materials"
permalink: /teaching/
author_profile: true
---
<b>Teaching</b> <br>
STAT645/445, Applied Biostatistics and Data Analysis (Fall 2017-2023)<br>
STAT659/459, Applied categorical Data Analysis (Fall 2017-2024)<br>
STAT 415, Mathematical Statistics (Spring 2024-)<br>
<br>
<br>
<br>
<b>Presentation </b><br>
WNAR 2023 presentation [pdf]<br>
Mixed effects model using R [html]<br>
<br>
<br>
<br>
<b>Short note</b><br>
A very short note on B-splines [pdf], and two related files for computing spline basis functions [R-code], [Fortran subroutines]


<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
