---
layout: archive
title: "Teaching and related materials"
permalink: /teaching/
author_profile: true
---
<br>
<b>Teaching</b> <br>
STAT645/445, Applied Biostatistics and Data Analysis (Fall 2017-2023)<br>
STAT659/459, Applied Categorical Data Analysis (Fall 2017-2024)<br>
STAT 415, Mathematical Statistics (Spring 2024-)<br>
<br>
<br>
<b>Presentation </b><br>
TAMU Vet School 2021  <a href="http://samiransinha.github.io/files/presentation/TAMU_Vet_School_Nov2021.pdf">presentation slides</a> <br>
WNAR 2023  <a href="http://samiransinha.github.io/files/presentation/WNAR2023_presentation.pdf">presentation slides</a> <br>
<br>
<br>
<b>Notes</b><br>
Mixed effects model <a href="http://samiransinha.github.io/files/teaching/685part1.html">analysis</a> using R <br>
A short <a href="http://samiransinha.github.io/files/teaching/note1.pdf">note</a> on B-splines, and two related files for computing spline basis functions  <a href="http://samiransinha.github.io/files/teaching/code4Spline.R">R script</a>[R-code],  <a href="http://samiransinha.github.io/files/teaching/spline.f">Fortran subroutines</a>


<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
