---
layout: archive
title: "Teaching and related materials"
permalink: /teaching/
author_profile: true
---
STAT645/445, Applied Biostatistics and Data Analysis (Fall 2017-2023)
STAT659/459, Applied categorical Data Analysis (Fall 2017-2024)
STAT 415, Mathematical Statistics (Fall 2023-)


WNAR 2023 presentation [pdf]
Mixed effects model using R [html]


A very short note on B-splines [pdf], and two related files for computing spline basis functions [R-code], [Fortran subroutines]


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
